.box{
    width: 250px;
    max-width: 500px;
    border: 1px solid #daa520;
    border-radius: 7px;
    overflow: hidden;
    flex-grow:1;
    margin: 0 auto;
}
.box .imagem{
    height: 250px;
    border-radius: 7px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    /*background: url(/img/espaguete.jpg) no-repeat center bottom;
    background-size: cover;*/
}
.imagem img{
    border-radius: 7px;
    width: 110%;
    min-height: 110%;
    position: absolute;
    bottom: -25px;
    left: -15px;
}
.box .descricao{
    min-height: 220px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.descricao h3{
    font-weight: bolder;
}
.descricao small{
    font-size: 14px;
    color: #daa520;
}
.descricao p{
    font-size: 16px;
}
.descricao span{
    text-align: right;
    font-weight: bold;
}